html
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%

body
    margin 0

a
    text-decoration none
	cursor pointer // when no "href" attr, cursor will change to default or text

img
    border 0

table
    border-spacing 0
    border-collapse collapse

td
    padding 0

ul
    margin 0
    padding 0
    list-style-type none
