for $x in $css-color
    .border-{$x}
        border 1px solid unquote(s("#%s%s%s", $x, $x, $x))

.radius-circle
    border-radius 50%

for $x in $css-radius
    .radius-{$x}
        border-radius ($x)px
