for $x in $css-box-size

    .width-{$x}p
        width ($x)%

    .height-{$x}p
        height ($x)%

    .width-{$x}pc
        width unquote(s("calc(%s%)", $x))

    .height-{$x}pc
        height unquote(s("calc(%s%)", $x))

    .width-{$x}pi
        min-width ($x)%

    .height-{$x}pi
        min-height ($x)%

    .width-{$x}pa
        max-width ($x)%

    .height-{$x}pa
        max-height ($x)%

for $x in $css-box-space

    .padding-{$x}
        padding ($x)px

    .margin-{$x}
        margin ($x)px

    .padding-top_{$x}
        padding-top ($x)px

    .margin-top_{$x}
        margin-top ($x)px

    .padding-right_{$x}
        padding-right ($x)px

    .margin-right_{$x}
        margin-right ($x)px

    .padding-bottom_{$x}
        padding-bottom ($x)px

    .margin-bottom_{$x}
        margin-bottom ($x)px

    .padding-left_{$x}
        padding-left ($x)px

    .margin-left_{$x}
        margin-left ($x)px


// box-sizing

.box-sizing_border
    box-sizing border-box

.box-sizing_content
    box-sizing content-box    
