.margin-auto
    margin-left auto
    margin-right auto

.clear-fix:after
    content ""
    display table
    clear both

.trans-all
    transition all .3s

.link-button
    display inline-block
    height 100%
    text-align center

.text-ellipsis
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.size-full
    width 100%
    height 100%

.mask-absolute, .mask-fixed
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.mask-fixed
    position fixed
