.auto
    margin-left auto
    margin-right auto

.fix:after
    content ""
    display table
    clear both

.trans
    transition all .3s

.lbtn
    display inline-block
    height 100%
    text-align center

.ellipsis
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.full
    width 100%
    height 100%

.mask, .mask-fixed
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.mask-fixed
    position fixed
