.display-none, .hidden
    display none

.display-inline
    display inline

.display-block
    display block

.display-inline-block
    display inline-block

.display-table
    display table

.display-inline-table
    display inline-table

.display-table-row
    display table-row

.display-table-cell
    display table-cell

.display-flex
    display flex
    display -webkit-flex    // safari、old chrome、old android
    display -webkit-box    // safari on iOS 6
