// flex

.fi
    flex initial // no stretch, but shrink
    -webkit-flex initial

.fa
    flex auto // shrink
    -webkit-flex auto
    -webkit-box-flex 1

.fn
    flex none // no shrink
    -webkit-flex none

    
// flex-direction

.fdr
    flex-direction row-reverse
    -webkit-flex-direction row-reverse
    box-direction reverse

.fdc
    flex-direction column
    -webkit-flex-direction column
    -webkit-box-orient vertical

.fdcr
    flex-direction column-reverse
    -webkit-flex-direction column-reverse
    -webkit-box-orient vertical
    -webkit-box-direction reverse

    
// flex-wrap

.fww
    flex-wrap wrap
    -webkit-flex-wrap wrap

.fwwr
    flex-wrap wrap-reverse
    -webkit-flex-wrap wrap-reverse
    

// justify-content

.jcfs
    justify-content flex-start
    -webkit-justify-content flex-start

.jcfe
    justify-content flex-end
    -webkit-justify-content flex-end

.jcc
    justify-content center
    -webkit-justify-content center

.jcsb
    justify-content space-between
    -webkit-justify-content space-between

.jcsa
    justify-content space-around
    -webkit-justify-content space-around

    
// align-items

.aifs
    align-items flex-start
    -webkit-align-items flex-start

.aife
    align-items flex-end
    -webkit-align-items flex-end

.aic
    align-items center
    -webkit-align-items center

.ais
    align-items stretch
    -webkit-align-items stretch

.aibl
    align-items baseline
    -webkit-align-items baseline

    
// align-content

.acfs
    align-content flex-start
    -webkit-align-content flex-start

.acfe
    align-content flex-end
    -webkit-align-content flex-end

.acc
    align-content center
    -webkit-align-content center

.acsb
    align-content space-between
    -webkit-align-content space-between

.acsa
    align-content space-around
    -webkit-align-content space-around

.acs
    align-content stretch
    -webkit-align-content stretch
