// font-size

for $x in $css-font-size

    .font-{$x}
        font-size ($x)px


// font-style

.font-bold
    font-weight bold

.font-italic
    font-style italic

.font-underline
    text-decoration underline

.font-normal
    font-weight normal
    font-style normal
    text-decoration none


// line-height

.line-height
    line-height inherit

for $x in $css-line-height

    .line-height_{$x}
        line-height ($x)px


// text-align

.align-center
    text-align center

.align-left
    text-align left

.align-right
    text-align right

.align-justify
    text-align justify


// vertical-align

.valign-middle
    vertical-align middle

.valign-top
    vertical-align top

.valign-bottom
    vertical-align bottom

.valign-text-bottom
    vertical-align text-bottom


// white-space

.space-normal
    white-space normal

.space-nowrap
    white-space nowrap


// word-wrap

.word-wrap_break
    word-wrap break-word    // change line and break word at boundary


// word-break

.word-break_kepp
    word-break keep-all    // change line at punctuation and word space
.workd-break_break
    word-break break-all    // change line and break work at anywhere
