// position

.position-relative
    position relative

.position-absolute
    position absolute

.position-fixed
    position fixed

for $x in $css-position
    .top-{$x}p
        top ($x)%
    .right-{$x}p
        right ($x)%
    .bottom-{$x}p
        bottom ($x)%
    .left-{$x}p
        left ($x)%
